// Style for button and pseudo button for input and link
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	display: inline-block;
	font-size: 0.75em;
	font-weight: 600;
	padding: 1.5em 2em;
	border: none;
	border-radius: 2.2em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: $btn_default_bg_color;
	max-width: 100%;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background-color: darken($btn_default_bg_color, 10%);
		// color: #000;
		text-decoration: none;
	}
	&:focus,&:active {
		background-color: lighten($btn_default_bg_color, 10%);
		// color: #000;
	}
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 		&:focus,&:active {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }
	@media (max-width: 1440px) {
	    font-size: 1em;
	}
	@media (max-width: 767px) {
	    font-size: 1.1em;
	}
}
